/* add css module styles here (optional) */

.component table {
  border-collapse: collapse;
}
/* table {
  border-collapse: collapse;
} */

.component th {
  border: solid 1px black;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* .component th img {
  width: 15px;
} */

/* .component th::after {

  width: 15px;
} */

.component td {
  border: solid 1px black;
  padding: 5px 0.5rem;
}
