/* add css module styles here (optional) */

.component table {
  border-collapse: collapse;
  width: 100%;
}
/* table {
  border-collapse: collapse;
} */

.component th {
  border: solid 1px black;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.component th img {
  width: 10px;
  margin-left: 10px;
}

.component td {
  border: solid 1px black;
  padding: 5px 0.5rem;
}

img.default {
  opacity: 0.2;
}
img.down {
  opacity: 1;
}
img.up {
  opacity: 1;
  transform: rotate(0.5turn);
}
.tableHeader {
  display: flex;
  justify-content: space-between;
}

.tableHeader > div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
/* .select p {
  display: inline;
} */

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination div {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.pagination button {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid grey;
}

.pagination .disabled {
  cursor: auto;
  color: grey;
  border: 1px solid rgb(200, 200, 200);
}

.pagination button.inactive {
  border: none;
  background-color: transparent;
}