.component {
  width: 100%;
}

.component table {
  border-collapse: collapse;
  width: 100%;
  clear: both;
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.component th {
  border: solid 1px black;
  padding: 0.5rem;
  cursor: pointer;
}

.component th div {
  min-height: 45px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.component th p {
  margin: 0;
}

.component th svg {
  width: 10px;
  margin-left: 6px;
}

.component td {
  border: solid 1px black;
  padding: 5px 0.5rem;
}

.component tbody td {
  border-bottom-color: #c9c9c9;
}
.component tbody tr:last-of-type td {
  border-bottom-color: black;
}

.component tbody tr:hover {
  background-color: #e0ebeb;
}

.odd {
  background-color: #fafafa;
}

.even {
  background-color: #fff;
}

svg.noSort {
  opacity: 0.2;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.tableHeader > div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination div {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.pagination button {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid grey;
}

.pagination .disabled {
  cursor: auto;
  color: grey;
  border: 1px solid rgb(200, 200, 200);
}

.pagination button.active {
  border: 1px solid grey;
}

.pagination button.inactive {
  border: none;
  background-color: transparent;
}
