/* add css module styles here (optional) */

.component table {
  border-collapse: collapse;
}
/* table {
  border-collapse: collapse;
} */

.component th {
  border: solid 1px black;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.component th img {
  width: 10px;
  margin-left: 10px;
}

.component td {
  border: solid 1px black;
  padding: 5px 0.5rem;
}

img.default {
  opacity: 0.2;
}
img.down {
  opacity: 1;
}
img.up {
  opacity: 1;
  transform: rotate(0.5turn);
}

.select {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
/* .select p {
  display: inline;
} */
